body {
    background-color: #f2f7ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #003366;
    font-size: 40px;
}

h2 {
    color: #00509d;
    margin-top: 25px;
}

p {
    font-size: 18px;
    color: #333;
}

body {
    max-width: 800px;
    margin: auto;
}
